/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
  padding: 24px 0 18px;

  .nav-content,
  .nav-inner,
  .nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    ul {
      list-style-type: none;
      margin: 0;
    }
  }

  .nav-content {
    justify-content: center;
    max-width: 100%;
    flex: 1 1 100%;
  }

  .nav-menu {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: $black;

    a {
      color: inherit;
      transition: color 0.3s;
      display: inline-block;

      &:hover {
        color: $primary;
      }
    }

    li + li {
      margin-left: 44px;
    }

    span{
      margin: 0 22px;
    }
  }

  .nav-end {
    max-width: 151px;
    flex: 0 0 151px;
    margin-left: 30px;
  }

  .nav-brand {
    flex: 0 0 auto;
    display: none;
  }

  .navbar-burger {
    display: none;
  }

  @media (max-width: 1023px) {
    .nav-inner {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    .nav-brand {
      flex: 1 1 100%;
      padding-right: 0;
      margin-bottom: 20px;
    }

    .nav-content {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 0;
    }

    .nav-end {
      max-width: 151px;
      flex: 0 0 151px;
      margin-left: 0;
    }

    .nav-menu {
      max-width: 100%;
      flex: 1 1 100%;
      justify-content: center;
      margin-bottom: 0px;
    }

    .nav-brand {      
      display: none;
    }
  }

  @media (max-width: 767px) {
    & {
      position: relative;
      padding: 0;
      background: $white;
    }

    .nav-brand {
      flex: 0 0 auto;
      padding-right: 0;
      margin-bottom: 0;
    }

    .navbar-burger {
      display: block;
    }

    .nav-brand {
      padding-left: 15px;
      display: block;
    }

    .nav-menu {
      display: block;
      font-size: 14px;
      a {
        margin-bottom: 10px;
      }

      li + li {
        margin-left: 0;
        margin-top: 5px;
      }
      span {
        display: none;
      }
    }

    .nav-content {
      position: absolute;
      left: 0;
      width: 100%;
      top: calc(100%);
      padding: 20px 0px;
      background: $white;
      z-index: -1;
      border-radius: 0;
      border-top: 1px solid $gray;
      border-bottom: 0;
      opacity: 0;
      visibility: hidden;
      transition: visibility 0.3s, opacity 0.3s, z-index 0.3s;

      &.is-active {
        opacity: 1;
        visibility: visible;
        z-index: 30;
      }
    }
  }
}
